{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{{include ('./nav.html.twig')}}

	<div class="container">

		{% if app.user %}
			<h2 class="mt-5 text-center">
				Bonjour
				{{app.user.firstname}}
				{{app.user.lastname}}!
			</h2>
		{% endif %}


	</div>
{% endblock %}
