{% extends 'base.html.twig' %}

{% block title %}Add Category
{% endblock %}

{% block body %}
	{{include ('./nav.html.twig')}}

	<div class="container">
		<h1 class="text-center mt-3">Editer une catégorie du catalogue</h1>

		{{form(form)}}
		</div>
	{% endblock %}
